<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Rendimiento de Cultivos por País</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div class="container">
        <h1>Predicción de Rendimiento de Cultivos</h1>
        <div class="form-container">
            <h2>Ingrese Todas las Características Aquí</h2>
            <form action="/predict" method="post">
                <label for="provincia">Provincia</label>
                <select id="provincia" name="provincia">
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chaco">Chaco</option>
                    <option value="Chubut">Chubut</option>
                    <option value="Córdoba">Córdoba</option>
                    <option value="Corrientes">Corrientes</option>
                    <option value="Entre Ríos">Entre Ríos</option>
                    <option value="Formosa">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="La Pampa">La Pampa</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Mendoza">Mendoza</option>
                    <option value="Misiones">Misiones</option>
                    <option value="Neuquén">Neuquén</option>
                    <option value="Río Negro">Río Negro</option>
                    <option value="Salta">Salta</option>
                    <option value="San Juan">San Juan</option>
                    <option value="San Luis">San Luis</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Santa Fe">Santa Fe</option>
                    <option value="Santiago del Estero">Santiago del Estero</option>
                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                    <option value="Tucumán">Tucumán</option>
                </select>

                <label for="cultivo">Cultivo</label>
                <input type="text" id="cultivo" name="cultivo">

                <label for="id-compania">ID compania</label>
                <input type="number" id="id-compania" name="id-compania">

                <label for="sup-sembrada">Superficie sembrada</label>
                <input type="number" id="sup-sembrada" name="sup-sembrada">

                <label for="sup-cosechada">Superficie cosechada</label>
                <input type="number" id="sup-cosechada" name="sup-cosechada">

                <label for="produccion">Produccion</label>
                <input type="number" id="produccion" name="produccion">

                <button type="submit">Predecir</button>
            </form>
        </div>
    </div>
</body>
</html>
